
/* Reset Browser Inconsistencies*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background-color: #B21F29;
    font-family: sans-serif;
}

/*
 * Project styling
*/

body {
    background-color: white;
}

#backdrop {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#footer {
    position: fixed;
    text-align: center;
    color: white;
    height: 120px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 80%); /* Firefox */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 80%); /* Chrome, Safari */
    vertical-align: baseline;
}

#footer span {
    position: absolute;
    height: 25px;
    width: auto;
    padding: 10px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}


#backdrop img {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%) scale(1.2);
    filter: blur(8px);
}

#banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #B01E24;
    border-bottom: 3px solid white;
}

#parking_finder_logo {
    position: fixed;
    margin-top: 15px;
    height: 90px;
    width: auto;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

#settings_button {
    float: right;
    margin-top: 45px;
    margin-right: 30px;
    height: 30px;
    cursor: pointer;
    width: auto;
}

#settings_button:hover {
    transform: scale(1.2);
}

#wku_logo {
    float: left;
    height: 80px;
    width: auto;
    margin-top: 20px;
    margin-left: 30px;
}

#login_form {
    display: none;
    position: fixed;
    padding: 5px;
    font-size: 10pt;
    top: 80px;
    right: 30px;
    width: 220px;
    height: 150px;
    background-color: white;
    border: 1px solid #333333;
    border-radius: 10px;
    text-align: center;
}

#login_form h3 {
    font-size: 12pt;
}

#login_form * {
    margin: 5px;
}

#login_form button {
    padding: 5px;
    border: 1px solid #333333;
    background-color: lightgrey;
}

#parking_lot_list {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 480px;
    padding-left: 60px;
    padding-right: 60px;
    overflow-y: scroll;
}

.parking_lot {
    width: 100%;
    height: 60px;
    background-color: dimgrey;
    border-radius: 15px;
    color: white;
    font-size: 10pt;
    border: 2px solid white;
    padding: 10px;
    opacity: 0.8;
    margin: 5px;
}

.parking_lot:hover {
    transform: scale(1.05);
    background-color: grey;
    cursor: pointer;
}

.parking_lot div {
    margin-top: 5px;
}

.parking_lot span {
    float: right;
    margin-right: 15px;
}

.parking_lot h2 {
    width: 40%;
    float: left;
    font-size: 20pt;
    margin-top: 18px;
}

.detailed_parking_lot {
    width: 60%;
    height: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: dimgrey;
    border-radius: 15px;
    color: white;
    border: 2px solid white;
    opacity: 0.8;
    display: none;
}

#return_button {
    margin-top: 30px;
    position: fixed;
    top:70%;
   left: 48%;
    width: 80px;
    height: 30px;
    background-color: dimgrey;
    border-radius: 15px;
    color: white;
    border: 2px solid white;
    opacity: 0.8;
    display: none;
    font-size: 14pt;
    padding-top: 14px;
    text-align: center;
}

#return_button:hover {
    transform: scale(1.05);
    background-color: grey;
    cursor: pointer;
}

#control_panel_clickout {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
}

#control_panel_container {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: lightgrey;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
}

.error_message {
    color: red;
    font-size: 8pt;
    height: 8px;
}

.create_button {
    margin: 5px;
    background-color: limegreen;
    color: white;
    padding: 5px;
    border-radius: 10px;
    opacity: 1;
}

#create_parking_lot_clickout {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
}

#create_parking_lot_container {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    background-color: lightgrey;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
}